*{
    margin: 0%;
    padding: 0%;
}


nav ul{
 display: block;
 background-color: rgb(111, 82, 46);
 float: left;
  width: 100px;          
  height: 100vh;   
  
}


nav{
    
}
li{
   list-style: none;
   padding: 10px;
   

}

.photo{

    width: 5%;
    padding: 10px;
}

h1{
    font-size: 10px;
}

a{
    text-decoration: none;
}



/*  A PROPOS */

#Apropos p{

    text-align: center;
    /* width: 30%; */

    height: 30%;
}










html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #1a1309;
    color: rgb(237, 225, 225);
    text-align: center;
    padding: 40px 10% 20px;
    margin-top: 50px;
}

/* footer .footer-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

footer .footer-content p {
    font-size: 15px;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto 20px;
}

footer .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}


footer .socials img:hover {
    transform: scale(1.2);
    filter: brightness(1);
}

.footer-bottom {
    margin-top: 25px;
    font-size: 14px;
    
    padding-top: 10px;
    opacity: 0.9;
} */
